body{
    background-color: peachpuff;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;
 font-family: 'Times New Roman', Times, serifx;
 
}

h1::selection {
    color: red;
    background-color: rgb(0, 255, 102);
}


a{
    color: rgb(15, 133, 165);
    text-decoration: none;
}

.a.a::selection{
    color:blue;
    text-decoration:underline;
}

nav ul{ 
    background-color:saddlebrown;
    border-color: seashell;
    border-width: 2px;
    border-style:solid;
    border-radius: 10px;
    padding: 10px;
}

nav ul li .back-to-page{
    float: right;
    text-decoration: none;
    color:olive;
}
nav ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type:none;
}
nav ul li a{
    text-decoration: none;
    color:olive;
}

   
div{

    padding-bottom: 40px;
}
table,th,td{
    border: 3px solid honeydew;
}
tr{
    background-color: palegoldenrod;
}
td{
    padding: 5px;
    text-align: left;
    color: purple;
    vertical-align: top ;
}
tr:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(166, 117, 26);
}




.img-pyramids{
   width: 100%;
   height: 800px;
   border: 3px solid  seashell; 
   border-radius: 3%;
}


